# tldraw business license key. Removes the watermark and unlocks licensed
# features. Domain-locked and inlined into the client bundle at build time, so
# the VITE_ prefix (required for browser exposure) is expected here.
#
# Local dev:  copy this file to `.env.local` and fill in the value.
# Production: set VITE_TLDRAW_LICENSE_KEY in Vercel → Project → Settings →
#             Environment Variables (Production + Preview). Vite inlines it at
#             BUILD time, so a redeploy is required after changing it.
VITE_TLDRAW_LICENSE_KEY=
